Repository Nyx-Protocol/Nyx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rust:quick-check, rust:test-core, rust:test-crypto, rust:test-transport, go:test-quick, rust:clippy-strict, go:check-modules, go:build, go:test, go:quality, go:vulncheck, docker:validate, k8s:validate, helm:validate, docker-compose:validate, go:coverage

rust:quick-check:
  stage: prepare
  script:
  - echo "‚ö° Quick Rust syntax check"
  - cargo check --workspace --exclude nyx-sdk-wasm
  - echo "‚úÖ Syntax check passed"

rust:test-core:
  stage: test
  script:
  - echo "üß™ Testing nyx-core"
  - cargo test -p nyx-core --verbose

rust:test-crypto:
  stage: test
  script:
  - echo "üß™ Testing nyx-crypto"
  - cargo test -p nyx-crypto --verbose

rust:test-transport:
  stage: test
  script:
  - echo "üß™ Testing nyx-transport"
  - cargo test -p nyx-transport --verbose

go:test-quick:
  stage: test
  script:
  - cd nyx-http-proxy
  - echo "‚ö° Quick Go test run"
  - go test -v -short ./...

rust:clippy-strict:
  stage: quality
  script:
  - echo "üîç Strict Clippy check (no new warnings)"
  - cargo clippy --workspace --exclude nyx-sdk-wasm --all-features -- -D warnings -D clippy::all
  - echo "‚úÖ No warnings found"
  allow_failure: false

go:check-modules:
  image: golang:1.23-alpine
  before_script:
  - apk add --no-cache git
  - go version
  cache:
    key:
      files:
      - nyx-http-proxy/go.sum
      prefix: go-$CI_COMMIT_REF_SLUG
    paths:
    - .go/pkg/mod
    - .gocache
    policy: pull-push
  tags:
  - docker
  stage: prepare
  script:
  - cd nyx-http-proxy
  ...

go:build:
  image: golang:1.23-alpine
  before_script:
  - apk add --no-cache git
  - go version
  cache:
    key:
      files:
      - nyx-http-proxy/go.sum
      prefix: go-$CI_COMMIT_REF_SLUG
    paths:
    - .go/pkg/mod
    - .gocache
    policy: pull-push
  tags:
  - docker
  stage: build
  script:
  - cd nyx-http-proxy
  ...

go:test:
  image: golang:1.23-alpine
  before_script:
  - apk add --no-cache git
  - go version
  cache:
    key:
      files:
      - nyx-http-proxy/go.sum
      prefix: go-$CI_COMMIT_REF_SLUG
    paths:
    - .go/pkg/mod
    - .gocache
    policy: pull-push
  tags:
  - docker
  stage: test
  script:
  - cd nyx-http-proxy
  ...

go:quality:
  image: golang:1.23-alpine
  before_script:
  - apk add --no-cache git
  - go version
  cache:
    key:
      files:
      - nyx-http-proxy/go.sum
      prefix: go-$CI_COMMIT_REF_SLUG
    paths:
    - .go/pkg/mod
    - .gocache
    policy: pull-push
  tags:
  - docker
  stage: quality
  script:
  - cd nyx-http-proxy
  ...

go:vulncheck:
  image: golang:1.23-alpine
  before_script:
  - go install golang.org/x/vuln/cmd/govulncheck@latest
  cache:
    key:
      files:
      - nyx-http-proxy/go.sum
      prefix: go-$CI_COMMIT_REF_SLUG
    paths:
    - .go/pkg/mod
    - .gocache
    policy: pull-push
  tags:
  - docker
  stage: security
  script:
  - cd nyx-http-proxy
  ...

docker:validate:
  image: node:20-alpine
  stage: verify
  before_script:
  - npm install -g dockerfilelint@1.8.0
  script:
  - echo "üê≥ Validating Dockerfiles"
  - find . -name "Dockerfile*" -type f | while read dockerfile; do echo "Checking $dockerfile"; dockerfilelint "$dockerfile" || true; done
  ...

ci: add merge request specific pipeline optimizations
  .gitlab-ci-mr.yml
Due: none

ci: add comprehensive security and compliance configuration
  .gitlab-ci-security.yml
Due: none

ci: add performance testing and deployment automation
  .gitlab-ci-deploy.yml
  .gitlab-ci-perf.yml
  .gitlab-ci.yml
Due: none

docs: add comprehensive GitLab CI/CD documentation
  docs/C_CPP_ALTERNATIVES.md
  docs/GITLAB_CI_DOCUMENTATION.md
Due: none

docs: add comprehensive CI/CD implementation report
  CICD_IMPLEMENTATION_REPORT.md
Due: none

Commit
  Apache LICENSE
  LICENSE
Due: none

fix: correct GitLab environment action values in deployment config
  .gitlab-ci-deploy.yml
Due: none

fix: resolve GitLab CI job name conflicts and script syntax
  .gitlab-ci-deploy.yml
  .gitlab-ci.yml
Due: none

fix: simplify release:info job script syntax
  .gitlab-ci.yml
Due: none

fix: move container:scan to verify stage and update image tag
  .gitlab-ci-security.yml
Due: none

fix: use needs keyword for container:scan cross-stage dependency
  .gitlab-ci-security.yml
Due: none

docs: add comprehensive task completion report
  TASK_COMPLETION_REPORT.md
Due: none

fix: move container:scan to package stage to fix dependency error
  .gitlab-ci-security.yml
Due: none

fix: remove all runner-specific tags from CI config
  .gitlab-ci-deploy.yml
  .gitlab-ci-mr.yml
  .gitlab-ci-perf.yml
  .gitlab-ci-security.yml
  .gitlab-ci.yml
Due: none

fix: add mut keyword to adapters in detect_teredo_adapters
  nyx-transport/src/teredo.rs
Due: rust:quick-check, rust:test-transport, rust:clippy-strict

fix: remove large debug artifacts to prevent 413 error in CI/CD
  .gitlab-ci.yml
Due: none

test: ignore Ed25519 performance tests in CI environment
  nyx-daemon/src/config_gossip.rs
Due: rust:quick-check, rust:clippy-strict

test: ignore sandbox environment variable test in CI
  nyx-core/tests/sandbox_platform_specific.rs
Due: rust:quick-check, rust:test-core, rust:clippy-strict

perf: optimize CI/CD with smart change detection and fix Go race test
  .gitlab-ci.yml
Due: none

fix: correct integration test name from integration_perf to integration_test
  .gitlab-ci-perf.yml
Due: none

fix: remove unsupported --output-format option and exclude problematic packages from benchmarks
  .gitlab-ci-perf.yml
Due: none

perf(ci): 包括的なCI/CD高速化 - 50-60%の実行時間短縮
  .github/actions/install-deps/action.yml
  .github/actions/setup-rust/action.yml
  .github/workflows/advanced-testing.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/main.yml
  .github/workflows/pr-validation.yml
  docs/CI_CD_OPTIMIZATION_REPORT.md
Due: none

ci: migrate Linux CI/CD jobs to self-hosted runners
  .github/workflows/advanced-testing.yml
  .github/workflows/cli-daemon-ci.yml
  .github/workflows/cli-daemon-release.yml
  .github/workflows/container-iac.yml
  .github/workflows/container-validation.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/formal-verification.yml
  .github/workflows/main.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

ci: simplify self-hosted runner configuration
  .github/workflows/advanced-testing.yml
  .github/workflows/cli-daemon-ci.yml
  .github/workflows/cli-daemon-release.yml
  .github/workflows/container-iac.yml
  .github/workflows/container-validation.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/formal-verification.yml
  .github/workflows/main.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: Add Docker socket permissions fix for self-hosted runners
  .github/workflows/docker.yml
Due: none

fix: Improve concurrency control to properly cancel old workflow runs
  .github/workflows/advanced-testing.yml
  .github/workflows/cli-daemon-ci.yml
  .github/workflows/cli-daemon-release.yml
  .github/workflows/container-iac.yml
  .github/workflows/container-validation.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/formal-verification.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: Add Docker socket permissions fix for container validation workflows
  .github/workflows/container-iac.yml
  .github/workflows/container-validation.yml
Due: none

refactor: Migrate all workflows from self-hosted to GitHub-hosted runners
  .github/workflows/advanced-testing.yml
  .github/workflows/cli-daemon-ci.yml
  .github/workflows/cli-daemon-release.yml
  .github/workflows/container-iac.yml
  .github/workflows/container-validation.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/formal-verification.yml
  .github/workflows/main.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

Commit
  .github/workflows/container-validation.yml
Due: none

Commit
  .github/workflows/advanced-testing.yml
  .github/workflows/cli-daemon-ci.yml
  .github/workflows/cli-daemon-release.yml
  .github/workflows/release.yml
Due: none

fix: CI/CD workflow errors - remove non-existent files from validation
  .github/workflows/container-iac.yml
  .github/workflows/container-validation.yml
Due: none

fix: CI/CD errors - formatting, warnings, test timing, and sccache issues
  .github/workflows/main.yml
  .github/workflows/pr-validation.yml
  nyx-core/tests/sandbox_platform_specific.rs
  nyx-daemon/src/config_gossip.rs
  nyx-daemon/src/low_power.rs
  nyx-transport/src/teredo.rs
Due: rust:quick-check, rust:test-core, rust:test-transport, rust:clippy-strict

fix: final formatting adjustment for low_power.rs
  nyx-daemon/src/low_power.rs
Due: rust:quick-check, rust:clippy-strict

commit
  Dockerfile.nyx-test
  k8s-nyx-manifests.yaml
  k8s-nyx-test.toml
  scripts/k8s-nyx-test.sh
  setup-nyx-test.sh
  検証手順.md
Due: docker:validate, k8s:validate

commit
  Dockerfile.nyx-test
  setup-nyx-test.sh
  検証手順.md
Due: docker:validate

Fix: Add all workspace members to Docker build
  Dockerfile.nyx-test
Due: docker:validate

Fix: Add all Cargo workspace members to Docker build
  Dockerfile.nyx-test
Due: docker:validate

Fix: Make adapters mutable in detect_teredo_adapters
  nyx-transport/src/teredo.rs
Due: rust:quick-check, rust:test-transport, rust:clippy-strict

Path conditions:
  rust:quick-check: any of: **/*.rs, Cargo.toml, Cargo.lock
  rust:test-core: any of: nyx-core/**/*
  rust:test-crypto: any of: nyx-crypto/**/*
  rust:test-transport: any of: nyx-transport/**/*
  go:test-quick: any of: nyx-http-proxy/**/*.go
  rust:clippy-strict: any of: **/*.rs
  go:check-modules: any of: nyx-http-proxy/**/*
  go:build: any of: nyx-http-proxy/**/*
  go:test: any of: nyx-http-proxy/**/*
  go:quality: any of: nyx-http-proxy/**/*
  go:vulncheck: any of: nyx-http-proxy/**/*
  docker:validate: any of: **/Dockerfile*
  k8s:validate: any of: k8s-*.yaml, charts/**/*
  helm:validate: any of: charts/**/*
  docker-compose:validate: any of: docker-compose*.yml
  go:coverage: any of: nyx-http-proxy/**/*
