Repository Nyx-Protocol/Nyx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rust:quick-check, rust:test-core, rust:test-crypto, rust:test-transport, go:test-quick, rust:clippy-strict, rust:bench-crypto, rust:bench-transport, go:bench, semgrep:rust-security, semgrep:go-security, go:check-modules, go:build, go:test, go:quality, go:vulncheck, docker:validate, k8s:validate, helm:validate, docker-compose:validate, go:coverage

Path conditions:
  rust:quick-check: any of: **/*.rs, Cargo.toml, Cargo.lock
  rust:test-core: any of: nyx-core/**/*
  rust:test-crypto: any of: nyx-crypto/**/*
  rust:test-transport: any of: nyx-transport/**/*
  go:test-quick: any of: nyx-http-proxy/**/*.go
  rust:clippy-strict: any of: **/*.rs
  rust:bench-crypto: any of: nyx-crypto/**/*
  rust:bench-transport: any of: nyx-transport/**/*
  go:bench: any of: nyx-http-proxy/**/*
  semgrep:rust-security: any of: **/*.rs
  semgrep:go-security: any of: nyx-http-proxy/**/*.go
  go:check-modules: any of: nyx-http-proxy/**/*
  go:build: any of: nyx-http-proxy/**/*
  go:test: any of: nyx-http-proxy/**/*
  go:quality: any of: nyx-http-proxy/**/*
  go:vulncheck: any of: nyx-http-proxy/**/*
  docker:validate: any of: **/Dockerfile*
  k8s:validate: any of: k8s-*.yaml, charts/**/*
  helm:validate: any of: charts/**/*
  docker-compose:validate: any of: docker-compose*.yml
  go:coverage: any of: nyx-http-proxy/**/*

Add cluster creation to k8s-nyx-test.sh
  scripts/k8s-nyx-test.sh
Due: none

Add deployment status checking and pod log collection
  scripts/k8s-nyx-test.sh
Due: none

Improve pod status checking with detailed logs and container states
  scripts/k8s-nyx-test.sh
Due: none

Fix nyx-proxy args and use Unix socket for daemon communication
  k8s-nyx-manifests.yaml
Due: k8s:validate

Improve test diagnostics: Unix socket check, detailed SOCKS5 logs, optional cleanup
  scripts/k8s-nyx-test.sh
Due: none

Mount host /tmp in nyx-daemon for Unix socket sharing
  k8s-nyx-manifests.yaml
Due: k8s:validate

Use service DNS name for SOCKS5 tests instead of NodePort
  scripts/k8s-nyx-test.sh
Due: none

Add automatic cluster cleanup and update documentation
  scripts/k8s-nyx-test.sh
  検証手順.md
Due: none

Add SOCKS5 protocol debugging script
  scripts/debug-socks5.sh
Due: none

Improve SOCKS5 handshake with better timeout handling and detailed logging
  nyx-http-proxy/socks5.go
Due: go:test-quick, go:bench, semgrep:go-security, go:check-modules, go:build, go:test, go:quality, go:vulncheck, go:coverage

Add comprehensive SOCKS5 debugging guide
  docs/SOCKS5_DEBUGGING.md
Due: none

Update verification guide with SOCKS5 debugging instructions
  検証手順.md
Due: none

Add comprehensive code changes summary for SOCKS5 debugging improvements
  SOCKS5_CODE_CHANGES.md
Due: none

Fix ServiceAccount error: add explicit default SA and wait time
  k8s-nyx-manifests.yaml
  scripts/k8s-nyx-test.sh
Due: k8s:validate

Fix SOCKS5 proxy Unix socket access and improve test reliability
  DOCKER_ERROR_FIX.md
  KUBELET_TIMEOUT_FIX.md
  k8s-nyx-manifests.yaml
  nyx-http-proxy/Dockerfile
  nyx-http-proxy/mixbridge.go
  nyx-http-proxy/socks5.go
  scripts/k8s-nyx-test.sh
  scripts/test-socks5-alternative.sh
  検証手順.md
Due: go:test-quick, go:bench, semgrep:go-security, go:check-modules, go:build, go:test, go:quality, go:vulncheck, docker:validate, k8s:validate, go:coverage

Remove explicit default ServiceAccount to avoid AlreadyExists error
  k8s-nyx-manifests.yaml
Due: k8s:validate

Fix nyx-daemon Unix socket creation by removing conflicting volumeMount
  k8s-nyx-manifests.yaml
  scripts/debug-socket-access.sh
Due: k8s:validate

Fix Unix socket sharing between nyx-daemon and nyx-proxy containers
  k8s-nyx-manifests.yaml
  nyx-http-proxy/mixbridge.go
Due: go:test-quick, go:bench, semgrep:go-security, go:check-modules, go:build, go:test, go:quality, go:vulncheck, k8s:validate, go:coverage

Add detailed socket debugging to test script
  scripts/k8s-nyx-test.sh
Due: none

Add Kubernetes network performance testing without SOCKS5 dependency
  docs/K8S_NETWORK_PERFORMANCE_TESTING.md
  scripts/k8s-network-perf-test.sh
  scripts/k8s-nyx-test.sh
Due: none

Remove SOCKS5 and create simplified network-only test suite
  docs/SIMPLIFIED_TESTING.md
  scripts/k8s-nyx-test.sh
  scripts/k8s-simple-test.sh
Due: none

Commit
  scripts/k8s-nyx-test.sh
Due: none

Set default test configuration: skip SOCKS5, run Mix Network tests
  検証手順.md
Due: none

Update documentation to reflect actual implementation status: daemon health checks work, Mix Network features in development
  検証手順.md
Due: none
